---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Pixie</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<h1>Welcome to my office!</h1>
		<br />
		<p class="italic">I am the pixie</p>
		<p class="italic">My magic is currently under construction</p>
		<p class="italic">But I will be back soon!</p>
	</body>
</html>

<style>
	body {
		font-family: Arial, sans-serif;
		background-color: #f0f0f0;
		color: #333;
		margin: 0;
		padding: 0;
	}
	h1 {
		text-align: center;
		margin-top: 100px;
		font-size: 2em;
	}
	p {
		text-align: center;
		font-size: 1.5em;
	}
</style>
