---
// get the [magic-key] from the astro slug
const magicKey = Astro.params;

export async function getStaticPaths() {
	return [
		{ params: { magicKey: "test" } },
		{ params: { magicKey: "test2" } },
		{ params: { magicKey: "test3" } },
	];
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Pixie</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body
		class="font-serif bg-gradient-to-br dark:from-slate-700 dark:via-blue-950 dark:to-indigo-950 text-gray-900 dark:text-indigo-100 drop-shadow-lg dark:drop-shadow-none"
	>
		<h1>Welcome to my office!</h1>
		<br />
		<p class="italic">I am the pixie</p>
		<p class="italic">My magic is currently under construction</p>
		<p class="italic">But I will be back soon!</p>

		<p class="italic">
			Pst... I can tell you that you came from the <span
				class="font-bold text-indigo-800 dark:text-indigo-400 text-opacity-80"
				>{magicKey.magicKey}</span
			> portal
		</p>
	</body>
</html>

<style>
	body {
		height: 100vh;
		background-repeat: no-repeat;
	}
	h1 {
		text-align: center;
		margin-top: 100px;
		font-size: 2em;
	}
	p {
		text-align: center;
		font-size: 1.5em;
	}
</style>
